<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringBoot模版渲染</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
<form action="" th:action="@{/updateTravel}" method="post">
    编辑
    <input type="hidden" name="id" th:value="${travel.id}" />
    <p>出差地点:<input type="text" name="space" th:value="${travel.space}"/></p>
    <p>项目类型:<input type="text" name="item" th:value="${travel.item}"/></p>
    <p>出差日期:<input type="date" name="start_date" th:value="${travel.start_date}"/></p>
    <p>结束日期:<input type="date" name="stop_date" th:value="${travel.stop_date}"/></p>
    <p>出差天数:<input type="text" name="travel_days" th:value="${travel.travel_days}" οninput="value=value.replace(/[^\d]/g,'')"/></p>
    <p>出差人员:<input type="text" name="travel_person" th:value="${travel.travel_person}"/></p>
    <p>完成工作:<input type="text" name="finish_work" th:value="${travel.finish_work}"/></p>
    <p>问题总结:<input type="text" name="problem_sum" th:value="${travel.problem_sum}"/></p>
    <p>附件名称:<input readonly="true" name="file_name" th:value="${travel.file_name}"/></p>
    <p>上传附件：<button onclick="">选择文件</button></p>
    <p>
        <input type="submit" value="保存" />
        |
        <input type="submit" value="退出"/>
    </p>
</form>


</body>
</html>